

#dia-overlay {
	position:fixed;
	top:0px;
	left:0px;
	opacity:0.6;
	background-color:black;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:10000000;
}

#dia-modal {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
	position:fixed;
	top:64px;
	left:50%;
	background-color:white;
	width:512px;
	margin-left:-256px;
	z-index:10000001;
	padding:16px;
	border:2px solid #444;
}

.dia-close {
	float:right;
	font-weight:bold;
	padding:8px 16px;
	margin-right:-16px;
	margin-top:-16px;
}

.dia-close:hover {
	color:#448;
	background-color:#EFEFEF;
	cursor:pointer;
}

.dia-button {
	padding:2px 8px 0px 8px;
	border:1px solid #444;
	margin:16px 16px 0px 0px;
	float:left;
}

.dia-button:hover {
	color:#448;
	background-color:#EFEFEF;
	cursor:pointer;
}

.dia-input {
	border:1px solid #444;
	margin-top:8px;
	padding-left:8px;
	width:440px;
}